@import "tailwindcss";

:root,
.light {
  --background: #F5F5EC;
  --foreground: #1C1917;

  --card: #FFFFFF;
  --card-foreground: #1C1917;

  --muted: #E8E8DE;
  --muted-foreground: #78716C;

  --border: #DCDACA;

  --primary: #7C907E;
  --primary-foreground: #FFFFFF;

  --secondary: #C4D1C3;
  --secondary-foreground: #1C1917;

  --accent: #E8B89C;
  --accent-foreground: #1C1917;

  --destructive: #E11D48;
  --destructive-foreground: #FFFFFF;

  --sidebar: #C4D1C3;
  --sidebar-active: #7C907E;
  --sidebar-active-foreground: #FFFFFF;
  --sidebar-foreground: #1C1917;

  --accent-blue: #5C7C89;

  --role-patient-primary: #10b981;
  --role-patient-secondary: #0d9488;
  --role-patient-primary-foreground: #ffffff;
  --role-professional-primary: #4f46e5;
  --role-professional-secondary: #2563eb;
  --role-professional-primary-foreground: #ffffff;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;

  --card: #0f172a;
  --card-foreground: #f8fafc;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --border: #1e293b;

  --primary: #818cf8;
  --primary-foreground: #020617;

  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;

  --accent: #2dd4bf;
  --accent-foreground: #020617;

  --destructive: #fb7185;
  --destructive-foreground: #020617;

  --sidebar: #0f172a;
  --sidebar-active: #334155;
  --sidebar-active-foreground: #f8fafc;
  --sidebar-foreground: #f8fafc;

  --accent-blue: #7C9DAA;

  --role-patient-primary: #34d399;
  --role-patient-secondary: #2dd4bf;
  --role-patient-primary-foreground: #020617;
  --role-professional-primary: #818cf8;
  --role-professional-secondary: #60a5fa;
  --role-professional-primary-foreground: #020617;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-active: var(--sidebar-active);
  --color-sidebar-active-foreground: var(--sidebar-active-foreground);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-accent-blue: var(--accent-blue);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
